{% extends 'org-layout.html' %} {% block content %}
<section>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="in">
          <p class="fs-3">Inquiry</p>
        </div>
      </div>
    </div>
  
    <div class="inquiry">
      <form action="https://formspree.io/f/xjvlywjl" method="POST" >
      <div class="row">
        <div class="col mx-5">
          <div class="email">
            <div class="form-group">
              <label class="fs-4">Email:</label>
              <input class="form-control" name="_replyto" value="{{ g.user[2] }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col mx-5">
          <div class="category">
            <div class="form-group">
              <label class="fs-4">Category:</label>
              <div class="input-group">
                <select class="custom-select" id="" name="category" required>
                  <option selected="">Select Category</option>
                  <option>Events</option>
                  <option>Participants</option>
                  <option>Donors</option>
                  <option>Status</option>
                  <option>Others</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col mx-5">
          <div class="message">
            <div class="form-group">
              <label class="fs-4">Message:</label>
              <textarea  type="text" class="form-control" name="message" value=""></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col mx-5">
          <button class="btn st btn-primary" type="submit">Save Changes</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</section>
{% endblock content %}